<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Проект</title>
  <link rel="stylesheet" href="style.css">
  <script src="main.js" defer></script>
</head>

<body>
  <div class="skills-box skills">
    <div class="skills-header">
      <div class="skills-header__name">
        Характеристики
      </div>
      <div class="skills-header__var">0</div>
    </div>
    <div class="skills-content">
      <ul class="skill-var">
        <li class="skill-list">
          <div class="skill-list__name">Сила</div>
          <button class="increase">+</button>
          <div class="skill-list__var">5</div>
          <button class="increase">-</button>
        </li>
        <li class="skill-list">
          <div class="skill-list__name">Ловкость</div>
          <button class="increase">+</button>
          <div class="skill-list__var">5</div>
          <button class="increase">-</button>
        </li>
      </ul>
    </div>
    <button class="skils-clear">Сбросить Все</button>
  </div>

</body>

</html>