:root {
  color-scheme: light dark;
}


body {
  font-family: sans-serif;
  line-height: 1.625;
  background-color: light-dark(#f1f1f1, #23272E);
  padding: .5rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

}

.skills-box.skills {
  background-color: #54cac0;
  width: 100%;
  max-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.skills-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #6492f3;
  color: #ededed;
  font-size: 1.35rem;
  border: 1px solid #0183a9;
  border-radius: 0.35rem;
}

.skills-header__name {
  margin: 3px 0 3px 5px;

}

.skills-header__var {
  margin: 3px 5px 3px 0;
  font-weight: bold;
}

.skills-content {
  width: 100%;
}

.skill-var {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 3px;
  background-color: #6492f33b;
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 6px 0;
  padding: 0 6px;
  background-color: #5f9dbf7a;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.35rem;
}

.skill-list__name {
  flex-grow: 1;
  max-width: 60%;
  color: #ededee;
  font-weight: 600;
}