:root {
  color-scheme: light dark;
}

body {
  font-family: sans-serif;
  line-height: 1.625;
  background-color: light-dark(#f1f1f1, #23272E);
  padding: .5rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.pannel {
  text-align: inherit;
}
