:root {
  color-scheme: light dark;
  --radius: 0.7rem;
}


body {
  font-family: sans-serif;
  line-height: 1.625;
  background-color: light-dark(#f1f1f1, #23272E);
  padding: .5rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

}

.panel {
  background-color: #a3a3a36b;
  padding: 1.5rem;
  border-radius: var(--radius);
  text-align: center;

}

.display-value {
  font-size: 7.5rem;
  font-weight: bold;
}